/* mobile HEIGHT fixes */
@media only screen and (max-height : 1300px) {
    .offer-call{
        margin-top: 250px;
    }
}

@media only screen and (max-height : 1000px) {
    .header-logo{
        margin-top: 25px;
    }
    .header-title, .about-title{
        margin-top: 25px;
    }
    .header-button{
        margin-top: 35px;
    }
}

@media only screen and (max-height : 700px) {
    .offer-call{
        margin-top: 75px;
    }
    #section-header, #header-about, #header-prod,  #section1, .section1-chemistry, .section1-systems{
        height: 700px;
        
    }
}

/* mobile WIDTH fixes */
@media only screen and (max-width : 2380px) {
    .chemistry-button{
        margin-top: 50px;
    }
}
@media only screen and (max-width : 1640px) {
    .chemistry-button{
        margin-top: 65px;
    }
    .about-title p{
        font-size: 16px;
    }
}

@media only screen and (max-width : 1549px) {
    .chemistry-button{
        margin-top: 45px;
    }
}

@media only screen and (max-width : 1500px) {
    .header-title h1, .about-title h1{
        font-size: 45px;
    }
}

@media only screen and (max-width : 1400px) {
    .chemistry-button{
        margin-top: 65px;
    }
}

@media only screen and (max-width : 1300px) {
    .box-text, .box-img-reliability, .box-img-partnership, .box-img-benefit, .box-img-armature, .box-img-fitings, .box-img-tubes, .box-prod{
        width: 50%;
    }
}

@media only screen and (max-width : 1200px) {
    .prod-navigation{
        width: 600px;
    }
    .foot-row{
        margin-right: 30px;
    }
    .section1-chemistry h1, .section1-systems h1{
        margin-top: 180px;
    }
    .activity-start{
        top: 100px;
    }
    .activity-start h1{
        margin: 35px 5px 2px 5px;
        font-size: 24px;
    }
    .activity-start p{
        font-size: 15px;
        margin: 2px 5px 35px 5px;
    }
    .offer-title h1{
        font-size: 28px;
    }
    .causes-bottom-1, .causes-bottom-2{
        height: 200px;
        width: 350px;
    }
    .causes-bottom-1 h1, .causes-bottom-2 h1{
        margin-top: 50px;
        font-size: 16px;
    }
    .causes-top-1, .causes-top-2{
        height: 200px;
        width: 350px;
    }
    .causes-top-1 h1, .causes-top-2 h1{
        margin-top: 50px;
        font-size: 16px;
    }
}

@media only screen and (max-width : 1000px) {
    .foot-row, .foot-ginnova{
        margin: 5px 0 5px 0;
        width: 100%;
        text-align: center;
    }
    .foot-gin{
        float: none;
        display: inline-block;
    }
    .section1-chemistry h1, .section1-systems h1{
        margin-top: 150px;
    }
    .prod-row-img{
        height: 200px;
    }
    .prod-row-text, .prod-row-img, .prod-row-adv{
        margin: 0;
        padding: 1%;
        width: 98%;
    }
    .prod-row-text p{
        margin: 0 15px 0 15px;
    }
    .prod-row-adv ul{
        margin: 15px;
    }
}
@media only screen and (max-width : 950px) {
    .box-prod ul{
        font-size: 12px;
    }
}
@media only screen and (max-width : 850px) {
    .box-text, .box-img-reliability, .box-img-partnership, .box-img-benefit-850{
        width: 100%;
        height: 270px;
        float: left;
    }
    .box-prod, .box-img-armature, .box-img-fitings, .box-img-tubes, .box-img-armature-850, .box-img-tubes-850{
        width: 100%;
        height: 400px;
        float: left;
    }
    .box-img-benefit, .box-img-armature, .box-img-tube{
        display: none;
    }
    .box-img-benefit-850, .box-img-armature-850, .box-img-tubes-850{
        display: block;
    }
    .activity-start{
        top: 25px;
        width: 100px;
    }
    .activity-start h1{
        margin: 35px 5px 2px 5px;
        font-size: 18px;
    }
    .activity-start p{
        font-size: 13px;
        margin: 2px 5px 35px 5px;
    }
}

@media only screen and (max-width : 800px) {
    .footer-mob-hide{
        display: none;
    }
    .footer-mob{
        display: block;
    }
    .nav-active{
        background: #232323;
        color: #fff;
    }
    .header-logo{
        margin-top: 0;
    }
    .header-logo img{
        float: left;
        width: 75px;
        margin: 25px;
    }
    .header-navigation{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        float: none;
        width: 200px;
        text-align: left;
        z-index: 5;
        display: none;
        background: #303030;
    }
    .header-navigation-panel{
        margin-top: 55px;
        margin-bottom: 50px;
        width: 100%;
        background: #303030;
    }
    .header-nav{
        float: left;
        margin: 0;
        height: 80px;
        width: 100%;
    }
    .burger-menu{
        display: block;
    }
    .footer-nav{
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width : 750px) {
    .about-title p{
        font-size: 14px;
    }
    .header-title h1,  .about-title h1{
        font-size: 20px;
    }
    .header-title, .about-title{
        margin-top: 25px;
    }
    .header-button{
        margin-top: 55px;
    }
    #section1{
        height: 800px;
    }
    .section1-chemistry, .section1-systems{
        height: 400px;
        width: 100%;
    }
    .section1-chemistry h1, .section1-systems h1{
        margin-top: 100px;
    }
    .section1-chemistry p, .section1-systems p{
        margin: 25px auto 45px;
    }
    .section1-chemistry h1, .section1-systems h1{
        font-size: 18px;
    }
    .causes-title h1{
        font-size: 22px;
    }
    .offer-form-part{
        width: 100%;
    }
    .offer-form-part textarea{
        margin-left: 20px;
        margin-top: 20px;
    }
    .offer-modal-part{
        width: 100%;
    }
    .offer-modal-part input{
        text-align: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .offer-modal-part textarea{
        text-align: center;
        height: 50px;
        margin-left: 20px;
        margin-top: 5px;
    }
    .causes-bottom-align, .causes-top-align{
        width: 350px;
    }
    .section1-chemistry h1, .section1-systems h1{
        margin-top: 75px;
    }
    .partners-logos{
        width: 100%;
    }
    .partners-logo{
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }
    .partners-logos img{
        width: 100%;
    }
    .activity-box-left h1, .activity-box-right h1, .activity-box-partners h1{
        font-size: 17px;
    }
    .activity-box-left p, .activity-box-right p, .activity-box-partners p{
        font-size: 14px;
    }
    .section-activity{
        width: 90%;
        margin-left: 5%;
        margin-top: -50px;
    }
    .activity-start{
        left: 0;
    }
    .prod-navigation{
        width: 300px;
    }
}

@media only screen and (max-width : 650px) { 
    .prod-row-adv{
            height: 600px;
        }
    .prod-row-text{
        height: 250px;
    }
}

@media only screen and (max-width : 550px) { 
    .activity-box-left, .activity-box-right, .activity-box-partners{
        height: 350px;
    }
    .box-text h1{
        font-size: 22px;
    }
    .box-text h1, .box-text p{
        margin: 10px;            
    }
    .section-activity{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .about-title p{
        font-size: 12px;
    }
}
@media only screen and (max-width : 480px) { 
    .box-prod{
        height: 500px;
    }
}
@media only screen and (max-width : 450px) { 
    .section1-chemistry h1, .section1-systems h1{
        margin-top: 35px;
    }
    .section1-systems p{
        font-size: 14px;
    }
    .activity-start{
        top: 15px;
        width: 100px;
    }
    .activity-start h1{
        margin: 15px 5px 2px 5px;
    }
    .activity-start p{
        font-size: 10px;
        margin: 2px 5px 15px 5px;
    }
    .partners-logo{
        width: 100%;
        margin: 0;
    }
    .foot-ginnova{
        font-size: 13px;
    }
    .prod-row-adv{
        height: 700px;
    }
    .box-prod-margin-top{
        margin-top: 135px;
    }
}

@media only screen and (max-width : 350px) {
    .causes-bottom-align, .causes-top-align{
        width: 300px;
    }
    .causes-bottom-1, .causes-bottom-2{
        height: 200px;
        width: 300px;
    }
    .causes-top-1, .causes-top-2{
        height: 200px;
        width: 300px;
    }
    .causes-top-1 h1, .causes-top-2 h1, .causes-bottom-1 h1, .causes-bottom-2 h1{
        font-size: 14px;
    }
    .section1-systems p{
        font-size: 12px;
    }
     .prod-row-adv{
            height: 800px;
        }
}