@-webkit-keyframes header-nav {
    0% {background-position: right;}
    100% {background-position: left;}
}
@keyframes header-nav {
    0% {background-position: right;}
    100% {background-position: left;}
}
@-webkit-keyframes header-nav-back {
    0% {background-position: left;}
    100% {background-position: right;}
}
@keyframes header-nav-back {
    0% {background-position: left;}
    100% {background-position: right;}
}

@-webkit-keyframes loader {
    0% {border: 1000px solid #232323; height: 0px; width: 0%;}
    100% {border: 1px solid #232323; height: 10000px; width: 100%;}
}

@keyframes loader {
    0% {border: 1000px solid #232323; height: 0px; width: 0%;}
    100% {border: 1px solid #232323; height: 10000px; width: 100%;}
}

html{
    height: 100%;
    width: 100%;
    background: #232323;
}
body{
    height: 100%;
    width: 100%;
    background: #fff;
}
h1{
    letter-spacing: 2px;
}

.modal-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5000px;
    background: rgba(0,0,0,0.7);
    z-index: 3;
    display: none;
}
.section{
    float: left;
    width: 100%;
}
#section-header{
    height: 100%;
    width: 100%;
    background: url(../img/section-header.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-about{
    height: 100%;
    background: url(../img/header-about.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-prod{
    height: 100%;
    background: url(../img/header-production.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-chem{
    height: 100%;
    background: url(../img/header-chemistry.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-art{
    height: 100%;
    background: url(../img/header-art.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-art-1{
    height: 100%;
    background: url(../img/header-art-1.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-art-2{
    height: 100%;
    background: url(../img/header-art-2.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#header-contacts{
    height: 100%;
    background: url(../img/header-contacts.png) center center no-repeat;
    background-size: cover;
    position: relative;
}
#section1{
    height: 100%;
}
#section2{
    background: url(../img/section-2.png) center center no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
}
#section3{
    background: #fff;
}
#section-footer{
    background: #fff;
}

.burger-menu{
    float: right;
    position: relative;
    margin: 25px;
    height: 50px;
    width: 40px;
    cursor: pointer;
    display: none;
    z-index: 6;
}
.burger-line-1, .burger-line-2, .burger-line-3{
    position: absolute;
    background: #fff;
    right: 0;
    transition: 0.4s linear;
    /*border: 0.5px solid #303030;*/
}
.burger-line-1{
    height: 3px;
    width: 30px;
    top: 2px;
}
.burger-line-2{
    height: 3px;
    width: 30px;
    top: 10px;
}
.burger-line-3{
    height: 3px;
    width: 30px;
    top: 18px;
}
.burger-active .burger-line-1{
    top: 10px;
    -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.burger-active .burger-line-2{
    right: -30px;
    opacity: 0;
}
.burger-active .burger-line-3{
    top: 10px;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header-address{
    float: left;
    margin: 25px;
    color: #fff;
    font-size: 14px;
    display: none;
}
.header-logo{
    float: left;
    width: 100%;
    margin-top: 10vh;
}
.header-logo img{
    display: block;
    margin: auto;
}
.header-navigation{
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}
.header-navigation-panel{
    display: inline-block;
    background: rgba(0,0,0,0);
}
.header-navigation-panel a{
    color: #fff;
    text-decoration: none;
}
.header-nav p{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.header-nav{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    transition: .2s linear;
    background: linear-gradient(to right,#fff 0%, #fff 49%, rgba(0,0,0,0) 49%, rgba(0,0,0,0) 100%) no-repeat;
    background-size: 210% 100%;
    background-position: right;
}
.header-nav:hover{
    -webkit-animation: header-nav .4s;
    animation: header-nav .4s;
    color: #232323;
    background-position: left;
}
.header-nav:not(:hover){
    -webkit-animation: header-nav-back .4s;
    animation: header-nav-back .4s;
}
.header-nav-mobile, .footer-nav-mobile{
    display: none;
}
.header-nav-mobile p{
    margin: 20px 15px 25px 15px;
}
.header-prod{
    position: relative;
    cursor: default;
    color: #fff;
    transition: .2s linear;
}
.header-prod-navigation{
    position: absolute;
    top: 80px;
    left: 0;
    display: none;
    width: 100%;
    transition: .2s linear;
}
.header-prod-nav{
    float: left;
    width: 100%;
    font-size: 11px;
    color: #232323;
    transition: .2s linear;
    background: linear-gradient(to right,#232323 0%, #232323 49%, #fff 49%, #fff 100%) no-repeat;
    background-size: 210% 100%;
    background-position: right;
}
.header-prod-nav p{
    margin: 25px 0 25px 0;
}
.header-prod-nav:hover{
    -webkit-animation: header-nav .4s;
    animation: header-nav .4s;
    color: #fff;
    background-position: left;
}
.header-prod-nav:not(:hover){
    -webkit-animation: header-nav-back .4s;
    animation: header-nav-back .4s;
}

.header-prod:hover .header-prod-navigation{
    display: block;
}
.header-title{
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
}
.header-title h1{
    font-size: 65px;
    color: #fff;
}

.about-title {
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    color: #fff;
}
.about-title h1{
    font-size: 65px;
    color: #fff;
}
.about-title p{
    margin-top: 55px;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    font-size: 30px;
}

.prod-title {
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    color: #fff;
}
.prod-title h1{
    font-size: 65px;
    color: #fff;
}
.prod-title p{
    margin-top: 75px;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    font-size: 36px;
}


.art-title {
    float: left;
    width: 100%;
    margin-top: 15vh;
    text-align: center;
    color: #fff;
}
.art-title h1{
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
}

.con-title {
    float: left;
    width: 100%;
    margin-top: 5vh;
    text-align: center;
    color: #fff;
}
.con-title h1{
    font-size: 65px;
    color: #fff;
    text-transform: uppercase;
}
.con-row{
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 30px;
}
.con-row-1{
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 0px;
}
.con-block{
    margin: auto;
}
.con-left{
    float: left;
    text-align: right;
    width: 50%;
}
.con-right{
    float: left;
    text-align: left;
    width: 50%;
}
.con-center-1, .con-center{
    float: left;
    text-align: center;
    width: 100%;
}
.con-center-1{
    margin-top: 40px;
}
.con-left p, .con-right p{
    margin: 25px 10px;
}

.mobile-map{
    display: none;
}
.header-button{
    float: left;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    font-size: 30px;
}
.custom-button{
    padding: 15px 45px;
    background: rgba(0,0,0,0);
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    transition: 0.2s linear;
}
.custom-button:hover{
    background: #fff;
    color: #232323;
}
.chemistry-button{
    margin-top: 45px;
}
.section1-chemistry, .section1-systems{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    color:  #fff;
    transition: .4s linear;
    position: relative;
}
.section1-chemistry h1, .section1-systems h1{
    margin-top: 40vh;
    font-weight: 600;
    font-size: 46px;
    color:  #fff;
}
.section1-chemistry p, .section1-systems p{
    width: 80%;
    margin: 5vh auto 10vh;
}
.section1-chemistry{
    background: url(../img/section-chemistry.png) center center no-repeat;
    background-size: cover;
}
.section1-chemistry:hover{
    background: url(../img/section-chemistry-hover.png) center center no-repeat;
    background-size: cover;
}
.section1-systems{
    background: url(../img/section-systems.png) center center no-repeat;
    background-size: cover;
}
.section1-systems:hover{
    background: url(../img/section-systems-hover.png) center center no-repeat;
    background-size: cover;
}
.causes-title{
    float:left;
    width: 100%;
    text-align: center;
    margin-top: 200px;
}
.causes-title h1{
    color: #fff;
    font-weight: 100;
    font-size: 60px;
}
.causes-bottom{
    position: absolute;
    bottom: -5px;
    width: 100%;
    text-align: center;
}
.causes-bottom-align{
    display: inline-block;
}
.causes-bottom h1, .causes-top h1{
    letter-spacing: 1px;
}
.causes-bottom-1, .causes-bottom-2{
    float: left;
    height: 300px;
    width: 550px;
    text-align: center;
    color: #fff;
    transition: .4s linear;
    position: relative;
}
.causes-bottom-1{
    background: url(../img/section-drive-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.causes-bottom-1:hover{
    background-size: 105% 105%;
}
.causes-bottom-2{
    background: url(../img/section-guarantee-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.causes-bottom-2:hover{
    background-size: 105% 105%;
}
.causes-bottom-1 h1, .causes-bottom-2 h1{
    margin-top: 115px;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 5px;
}
.causes-top{
    float: left;
    width: 100%;
    text-align: center;
}
.causes-top-align{
    display: inline-block;
}
.causes-top-1, .causes-top-2{
    float: left;
    height: 300px;
    width: 550px;
    text-align: center;
    color: #fff;
    transition: .4s linear;
    position: relative;
}
.causes-top-1{
    background: url(../img/section-client-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.causes-top-1:hover{
    background-size: 105% 105%;
}
.causes-top-2{
    background: url(../img/section-visibility-hover.png) center center no-repeat;
    background-size: 100% 100%;
}
.causes-top-2:hover{
    background-size: 105% 105%;
}
.causes-top-1 h1, .causes-top-2 h1{
    margin-top: 115px;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 5px;
}
.causes-bottom-1 p, .causes-bottom-2 p, .causes-top-1 p, .causes-top-2 p{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.offer{
    float: left;
    width: 100%;
}
.offer-call{
    position: fixed;
    width: 100%;
    margin-top: 550px;
    background: #fff;
    z-index: 4;
    display: none;
}
.offer-modal{
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-top: 55px;
}
.offer-modal-part{
    float: left;
    width: 50%;
}
.offer-modal-part input{
    font-size: 18px;
    outline: none;
    border: none;
    margin: 20px;
    font-family:"LucidaSansUnicode";
    border-bottom: 2px solid #c2c2c2;
    background: #fff;
    width: 80%;
}
.offer-modal-part input[type="text"]{
    color: #766f6f;
}
.offer-modal-part input[type="text"]:focus {
  color: #232323;
  border-bottom: 1px solid #232323;
}
.offer-modal-part textarea{
    float: left;
    color: #766f6f;
    height: 250px;
    max-height: 250px;
    max-width: 80%;
    width: 80%;
    font-size: 16px;
    outline: none;
    margin-right: 50%;
    margin-top: 14px;
    font-family:"LucidaSansUnicode";
}
.call-button-margin{
    margin-bottom: 35px;
}
.offer-title{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 45px;
}
.offer-title h1{
    font-size: 46px;
    font-weight: 600;
    color: #232323;
}
.offer-form{
    float: left;
    width: 90%;
    margin: 25px 5% 25px 5%;
}
.offer-form-part{
    float: left;
    width: 50%;
}
.offer-form-part input{
    font-size: 18px;
    outline: none;
    border: none;
    margin: 20px;
    font-family:"LucidaSansUnicode";
    border-bottom: 2px solid #c2c2c2;
    background: #fff;
    width: 80%;
}
.offer-form-part input[type="text"]{
    color: #766f6f;
}
.offer-form-part input[type="text"]:focus {
  color: #232323;
  border-bottom: 1px solid #232323;
}
.offer-form-part textarea{
    float: left;
    color: #766f6f;
    height: 250px;
    max-height: 250px;
    max-width: 80%;
    width: 80%;
    font-size: 16px;
    outline: none;
    margin-right: 50%;
    margin-top: 14px;
    font-family:"LucidaSansUnicode";
}
.offer-button-margin{
    float: left;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
.offer-button{
    display: inline-block;
    padding: 15px 65px;
    background: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    font-size: 12px;
    transition: 0.2s linear;
}
.offer-button:hover{
    background: #2a2a2a;
    color: #fff;
}
.partners-part{
    float: left;
    width: 100%;
    height: 70%;
    text-align: center;
}
.partners-title{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 55px;
}
.partners-title h1{
    font-size: 46px;
    font-weight: 600;
    color: #232323;
}
.partners-logos{
    display: block;
    margin: 35px auto;
    width: 600px;
}
.partners-logo img{
    width: 200px;
}
.partners-logo{
    float: left;
}
.partners-logo-img{
    float: left;
}
.partners-logo-hover{
    float: left;
    display: none;
}
.partners-logo:hover .partners-logo-img{
    display: none;
}
.partners-logo:hover .partners-logo-hover{
    display: block;
}
.window-activity{
    float: left;
    width: 100%;
    background: #fff;
}
.section-activity{
    float: left;
    width: 70%;
    margin-left: 15%;
    margin-top: -15vh;
    margin-bottom: 100px;
}
.activity-image{
    float: left;
    width: 100%;
    position: relative;
}
.activity-image img{
    float: left;
    width: 100%;
}
.activity-start{
    position: absolute;
    top: 100px;
    left: -75px;
    width: 250px;
    background: #232323;
    color: #fff;
}
.activity-start h1{
    margin: 85px 25px 2px 25px;
    font-size: 38px;
    text-align: left;
    color: #fff;
}
.activity-start p{
    color: #fff;
    font-size: 18px;
    margin: 2px 25px 85px 25px;
}
.activity-box-left, .activity-box-right{
    float: left;
    width: 50%;
    height: 240px;
    background: #fff;
    color: #232323;
}
.activity-box-left h1{
    font-size: 38px;
    color: #232323;
    margin: 25px;
    text-align: right;
}
.activity-box-right h1{
    font-size: 38px;
    color: #232323;
    margin: 25px;
    text-align: left;
}
.activity-box-left p, .activity-box-right p{
    font-size: 16px;
    margin: 15px 25px 45px 25px;
}
.activity-box-left{
    text-align: right;
}
.activity-box-right{
    text-align: left;
}

.activity-box-partners{
    float: left;
    width: 50%;
    height: 240px;
    background: #232323;
    color: #fff;
}
.activity-box-partners h1{
    font-size: 38px;
    color: #fff;
    margin: 25px;
    text-align: left;
}
.activity-box-partners p{
    font-size: 16px;
    margin: 15px 25px 45px 25px;
}
.activity-box-partners{
    text-align: left;
}

.section-contacts{
    float: left;
    width: 100%;
    height: 850px;
    background: #fff;
    position: relative;
}
.section-contacts img{
    width: 90%;
    margin: 25px 5%;
}
.contact-form{
    position: absolute;
    width: 500px;
    top: 100px;
    right: 10%;
    background: #fff;
    z-index: 11;
}



.contact-form .offer-form-part{
    width: 100%;
}
.contact-form .offer-form-part textarea{
    margin-left: 20px;
    margin-top: 20px;
}
.contact-form .offer-button{
    margin-bottom: 25px;
}


.section-articles{
    float: left;
    width: 100%;
    background: #fff;
}
.article{
    margin: auto;
    width: 80%;
    height: auto;
    max-width: 1200px;
}
.art-img-hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    transition: .5s linear;
}
.art-img-hover:hover{
    opacity: 0;
}
.art-img-1, .art-img-2{
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    margin-top: 75px;
    transition: .5s linear;
}
.art-img-1{
    background: url(../img/art-1.png) center center no-repeat;
    background-size: 100% 100%;
}
.art-img-2{
    background: url(../img/art-2.png) center center no-repeat;
    background-size: 100% 100%;
}
.art-img-1:hover, .art-img-2:hover{
    background-size: 115% 115%;
}
.art-date{
    position: absolute;
    bottom: 45px;
    left: 45px;
    color: #fff;
    width: 110px;
    height: 40px;
}
.art-date-1{
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: right;
    font-size: 34px;
}
.art-date-2, .art-date-3{
    float: left;
    width: 60px;
    height: 20px;
    font-size: 14px;
    text-align: left;
}
.art-text{
    float: left;
    width: 100%;
    margin-bottom: 75px;
    background: #232323;
    color: #fff;
}
.art-text h1{
    float: left;
    margin: 50px 50px 0;
    text-align: left;
    text-transform: uppercase;
}
.art-text p{
    float: left;
    margin: 50px 50px 0;
}
.art-more{
    float: left;
    width: 100%;
}
.art-more .button-order{
    float: right;
    margin: 50px 25px 50px 25px;
}


.section-article{
    float: left;
    width: 100%;
    background: #fff;
}
.new-article{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.in-row-1{
    float: left;
    width: 30%;
}
.in-row-2{
    float: left;
    width: 70%;
}
.in-date{
    float: left;
    padding: 70px;
    width: 115px;
    background: #fff;
    color: #232323;
}
.in-title{
    float: left;
    width: 100%;
    background: #232323;
    color: #fff;
}
.in-title p{
    margin: 70px;
    font-size: 26px;
}
.in-text{
    float: left;
    width: 100%;
    background: #fff;
    color: #232323;
}
.in-text p{
    margin: 70px;
    font-size: 18px;
}

.in-date .art-date-1{
    font-size: 40px;
}
.in-date .art-date-2{
    margin-top: 5px;
}
.in-date .art-date-2, .in-date .art-date-3{
    font-size: 16px;
    margin-left: 5px;
}

.section-production{
    float: left;
    width: 100%;
    background: #fff;
    color: #fff;
}
.prod-row{
    float: left;
    width: 100%;
    text-align: center;
}
.chem-row{
    float: left;
    width: 100%;
    text-align: center;
}

.prod-navigation{
    display: inline-block;
    width: 1200px;
}
.prod-nav{
    float: left;
    width: 200px;
    margin: 25px;
    padding: 25px;
    background: #fff;
    color: #232323;
    transition: .2s linear;
    cursor: pointer;
}

.prod-nav:hover{
    background: #232323;
    color: #fff;
}

.chem-navigation{
    display: inline-block;
    width: 1200px;
}
.chem-nav{
    float: left;
    width: 160px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    color: #232323;
    transition: .2s linear;
    cursor: pointer;
}

.chem-nav:hover{
    background: #232323;
    color: #fff;
}

.chem-select{
    float: left;
    width: 100%;
    text-align: center;
}
.chem-option{
    display: inline-block;
}

.chem-option select{
    margin: 50px;
    font-size: 18px;
    color: #fff;
    background: #232323;
    height: 50px;
    padding-left: 15px;
}

.prod-select{
    float: left;
    width: 100%;
    text-align: center;
}
.prod-option{
    display: inline-block;
}

.prod-option select{
    margin: 50px;
    font-size: 18px;
    color: #fff;
    background: #232323;
    height: 50px;
    padding-left: 15px;
}

.prod-select, .chem-select{
    display: none;
}

.js-vodosnabjenie, .js-teplosnabjenie{
    padding: 40px 25px;
}
.js-aggressive{
    padding: 29px 25px;
}
.js-gazosnabjenie{
    padding: 51px 25px;
}

.js-dobavki, .js-hydro, .js-klei{
    padding: 31px 20px;
}

.product-row{
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.prod-row-img{
    float: left;
    width: 30%;
    height: 600px;
    background: url(../img/box-benefit.png) center center no-repeat;
    background-size: cover;
}
.prod-row-text{
    float: left;
    padding: 0 3% 0 3%;
    width: 60%;
    margin-left: 4%;
    color: #232323;
    background: #fff;
    height: 200px;
}
.prod-row-adv{
    float: left;
    padding: 0 3% 0 3%;
    width: 60%;
    margin-left: 4%;
    color: #fff;
    background: #232323;
    height: 400px;
}
.prod-row-adv h1{
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-work{
    float: left;
    width: 100%;
    background: #fff;
    color: #fff;
}
.section-work h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #232323;
    text-align: center;
}

.section-vodosnabjenie, .section-teplosnabjenie, .section-aggressive, .section-gazosnabjenie{
    float: left;
    width: 100%;
    background: #fff;
}

.section-teplosnabjenie, .section-aggressive, .section-gazosnabjenie{
    display: none;
}

.section-dobavki, .section-remont, .section-promy, .section-hydro, .section-klei{
    float: left;
    width: 100%;
    background: #fff;
}

.section-remont, .section-promy, .section-hydro, .section-klei{
    display: none;
}

.box-text{
    float: left;
    width: 40%;
    background: #232323;
    color: #fff;
    text-align: left;
    height: 300px;
}
.box-prod{
    float: left;
    width: 40%;
    background: #232323;
    color: #fff;
    text-align: left;
    height: 450px;
}
.box-text h1{
    font-size: 38px;
    color: #fff;
    text-align: left;
    margin: 55px 55px 0 55px;
}

.box-text p{
    margin: 25px 55px;
}


.box-prod h2{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    text-align: left;
    margin: 5px 55px;
    text-transform: uppercase;
}
.box-prod h2:first-child{
    margin: 25px 55px 0;
}
.box-prod-margin-top{
    margin-top: 100px;
}
.pol-fit-margin-top{
    margin-top: 75px;
}
.box-prod ul{
    margin: 25px 55px;
    font-size: 14px;
}
.button-row{
    float: left;
    width: 100%;
    text-align: center;
}
.button-order{
    display: inline-block;
    padding: 15px 75px;
    background: rgba(0,0,0,0);
    border: 1px solid #fff;
    color: #fff;
    font-size: 11px;
    transition: 0.2s linear;
}
.button-order:hover{
    background: #fff;
    color: #232323;
}
.box-img-reliability, .box-img-benefit, .box-img-partnership, .box-img-benefit-850{
    float: left;
    width: 60%;
    height: 300px;
}

.box-img-hover{
    position: absolute;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.4);
    transition: .4s linear;
}
.box-img-hover:hover{
    background: rgba(0,0,0,0);
}

.causes-img-hover{
    position: absolute;
    width: 100%;
    height: inherit;
    background: rgba(0,0,0,0.3);
    transition: .4s linear;
}
.causes-img-hover:hover{
    background: rgba(0,0,0,0);
}

.box-img-vodosnabjenie-1, .box-img-vodosnabjenie-2, .box-img-vodosnabjenie-3, .box-img-vodosnabjenie-1-850, .box-img-vodosnabjenie-3-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}
.box-img-vodosnabjenie-1-850, .box-img-vodosnabjenie-3-850{
    display: none;
}

.box-img-teplosnabjenie-1, .box-img-teplosnabjenie-2, .box-img-teplosnabjenie-3{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-teplosnabjenie-1-850, .box-img-teplosnabjenie-3-850{
    display: none;
}

.box-img-aggressive-1, .box-img-aggressive-2, .box-img-aggressive-1-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-aggressive-1-850{
    display: none;
}

.box-img-gazosnabjenie-1, .box-img-gazosnabjenie-2, .box-img-gazosnabjenie-1-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}
.box-img-gazosnabjenie-1-850{
    display: none;
}

.box-img-reliability{
    background: url(../img/box-reliability.png) center center no-repeat;
    background-size: cover;
}
.box-img-benefit, .box-img-benefit-850{
    background: url(../img/box-benefit.png) center center no-repeat;
    background-size: cover;
}
.box-img-partnership{
    background: url(../img/box-partnership.png) center center no-repeat;
    background-size: cover;
}
.box-img-benefit-850{
    display: none;
}
.box-img-vodosnabjenie-1, .box-img-vodosnabjenie-1-850{
    background: url(../img/vodosnabjenie-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-vodosnabjenie-2{
    background: url(../img/vodosnabjenie-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-vodosnabjenie-3, .box-img-vodosnabjenie-3-850{
    background: url(../img/vodosnabjenie-3.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-vodosnabjenie-1:hover, .box-img-vodosnabjenie-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-vodosnabjenie-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-vodosnabjenie-3:hover, .box-img-vodosnabjenie-3-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}


.box-img-teplosnabjenie-1, .box-img-teplosnabjenie-1-850{
    background: url(../img/teplosnabjenie-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-teplosnabjenie-2{
    background: url(../img/teplosnabjenie-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-teplosnabjenie-3, .box-img-teplosnabjenie-3-850{
    background: url(../img/teplosnabjenie-3.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-teplosnabjenie-1:hover, .box-img-teplosnabjenie-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-teplosnabjenie-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-teplosnabjenie-3:hover, .box-img-teplosnabjenie-3-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}


.box-img-aggressive-1, .box-img-aggressive-1-850{
    background: url(../img/aggressive-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-aggressive-2{
    background: url(../img/aggressive-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-aggressive-1:hover, .box-img-aggressive-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-aggressive-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}

.box-img-gazosnabjenie-1, .box-img-gazosnabjenie-1-850{
    background: url(../img/gazosnabjenie-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-gazosnabjenie-2{
    background: url(../img/gazosnabjenie-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-gazosnabjenie-1:hover, .box-img-gazosnabjenie-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-gazosnabjenie-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}




.box-img-dobavki-1, .box-img-dobavki-2, .box-img-dobavki-3, .box-img-dobavki-1-850, .box-img-dobavki-3-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-dobavki-1, .box-img-dobavki-1-850{
    background: url(../img/dobavki-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-dobavki-2{
    background: url(../img/dobavki-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-dobavki-3, .box-img-dobavki-3-850{
    background: url(../img/dobavki-3.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-dobavki-1:hover, .box-img-dobavki-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-dobavki-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-dobavki-3:hover, .box-img-dobavki-3-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}

.box-img-dobavki-1-850, .box-img-dobavki-3-850{
    display: none;
}



.box-img-remont-1, .box-img-remont-2, .box-img-remont-3, .box-img-remont-4, .box-img-remont-5, .box-img-remont-6{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-remont-1-850, .box-img-remont-3-850, .box-img-remont-5-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-remont-1, .box-img-remont-1-850{
    background: url(../img/remont-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-remont-2{
    background: url(../img/remont-2.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-remont-3, .box-img-remont-3-850{
    background: url(../img/remont-3.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-remont-4{
    background: url(../img/remont-4.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-remont-5, .box-img-remont-5-850{
    background: url(../img/remont-5.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}
.box-img-remont-6{
    background: url(../img/remont-6.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}


.box-img-remont-1:hover, .box-img-remont-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-remont-2:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-remont-3:hover, .box-img-remont-3-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-remont-4:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-remont-5:hover, .box-img-remont-5-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}
.box-img-remont-6:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}

.box-img-remont-1-850, .box-img-remont-3-850, .box-img-remont-5-850{
    display: none;
}

.box-img-promy-1, .box-img-promy-1-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-promy-1, .box-img-promy-1-850{
    background: url(../img/promy-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-promy-1:hover, .box-img-promy-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}

.box-img-promy-1-850{
    display: none;
}

.box-img-hydro-1, .box-img-hydro-1-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-hydro-1, .box-img-hydro-1-850{
    background: url(../img/hydro-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-hydro-1:hover, .box-img-hydro-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}

.box-img-hydro-1-850{
    display: none;
}


.box-img-klei-1, .box-img-klei-1-850{
    float: left;
    position: relative;
    width: 60%;
    height: 450px;
}

.box-img-klei-1-850{
    display: none;
}

.box-img-klei-1, .box-img-klei-1-850{
    background: url(../img/klei-1.png) center center no-repeat;
    background-size: 100% 100%;
    transition: .5s linear;
}

.box-img-klei-1:hover, .box-img-klei-1-850:hover{
    background-size: 115% 115%;
    transition: .5s linear;
}


.footer{
    float: left;
    width: 100%;
    background: #232323;
    position: relative;
    margin-top: 105px;
    text-align: center;
}
.footer-production{
    float: left;
    width: 100%;
    background: #232323;
    position: relative;
    text-align: center;
}
.footer-row{
    display: inline-block;
    margin-top: 35px;
    color: #fff;
    font-size: 14px;
    text-align: left;
}
.foot-row{
    float: left;
    margin-right: 100px;
    min-height: 100px;
}
.foot-ginnova{
    float: left;
    margin-right: 100px;
}
.foot-gin{
    float: left;
}
.foot-ginnova p, .foot-ginnova img{
    float: left;
}
.foot-ginnova a{
    float: left;
    color: #fff;
    text-decoration: none;
}
.ginnova-line{
    float: left;
    width: 1px;
    height: 20px;
    background: #fff;
    margin-left: 15px;
    margin-right: 15px;
}
.footer-panel{
    float: left;
    width: 100%;
    text-align: center;
}
.footer-navigation-panel{
    display: inline-block;
}
.footer-navigation-panel a{
    color: #fff;
    text-decoration: none;
}
.footer-nav p{
    margin: 20px 15px;
}
.footer-nav{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-nav:hover{
    background: #fff;
    color: #232323;
}
.footer-prod{
    position: relative;
    color: #fff;
    transition: .2s linear;
}
.footer-prod-navigation{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    transition: .1s linear;
    display: none;
}
.footer-prod-nav{
    float: left;
    width: 100%;
    background: #fff;
    color: #232323;
    transition: .1s linear;
}
.footer-prod-nav:hover{
    background: #232323;
    color: #fff;
}
.footer-prod-nav p{
    font-size: 12px;
    margin: 25px 0 25px 0;
    transition: .2s linear;
}
.footer-prod:hover .footer-prod-navigation{
    display: block;
}
.footer-mob{
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: none;
}
.footer-mob h1{
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 500px;
}
.footer-mob p{
    color: #fff;
}


.tech-margin{
    padding: 15px 15px;
}
.prod-nav-active{
    background: #232323;
    color: #fff;
}
.nav-active{
    background: #fff;
    color: #232323;
}

.thx{
    position: fixed;
    top: 300px;
    left: 30%;
    width: 40%;
    height: auto;
    background: #fff;
    border: 1px solid #232323;
    color: #232323;
    text-align: center;
    z-index: 10;
    display: none;
}
.thx p{
    margin: 25px;
    font-size: 18px;
}

.contact-form input, .contact-form textarea{
    width: 90%;
    max-width: 90%;
}
.contact-form textarea{
    height: 150px;
}

.loader-right, .loader-left{
    background: none repeat scroll 0 0 #232323;
}

.loader-right {
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;
	z-index: 50;
}

.loader-left {
	top: 0;
	height: 100%;
	left: 0;
	position: fixed;
	width: 50%;
	z-index: 50;
}

.loader_inner {
	background: #232323 url("../img/logo.png");
	background-size: cover;
	height: 84px;
	width: 139px;
	margin-top: -64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	position: fixed;
    z-index: 51;

}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 0px;
    width: 0%;
    
    border: 0px solid #232323;
    background: rgba(0,0,0,0);
    background-size:cover;
}